<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find multiple_robots_sim)/launch/robots.launch"></include>
  <!-- <include file="$(find multiple_robots_sim)/launch/robots2.launch"></include> -->

  <include file="$(find rosbot_gazebo)/launch/closed_room.launch"></include>

</launch>