<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- No namespace here as we will share this description. Access with slash at the beginning -->
  <arg name="first_bot"  default="robot1_tf"/>
  <arg name="second_bot"  default="robot2_tf"/>

  <!-- BEGIN ROBOT 1 -->
  <group ns="robot1">
    <!-- Husarion robot allows user to define the namespace using the 'robot_namespace' parameter -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro' robot_namespace:=$(arg first_bot) odom_id:=$(arg first_bot)"/>
    <include file="$(find multiple_robots_sim)/launch/one_robot.launch">
      <arg name="init_pose" value="-x -5 -y 0 -z 0 -R 0 -P 0 -Y 0" />
      <arg name="robot_name" value="robot1" />
    </include>
    <param name="tf_prefix" value="$(arg first_bot)" />
  </group>

  <!-- BEGIN ROBOT 2 -->
  <group ns="robot2">
    <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro' robot_namespace:=$(arg second_bot) odom_id:=$(arg second_bot)"/>
    <include file="$(find multiple_robots_sim)/launch/one_robot.launch">
      <arg name="init_pose" value="-x 5 -y 0 -z 0 -R 0 -P 0 -Y 3.1415" />
      <arg name="robot_name" value="robot2" />
    </include>
    <param name="tf_prefix" value="$(arg second_bot)" />
  </group>
</launch>
